<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <form [formGroup]='login' (ngSubmit)="onclick()">
    <label>First Name
      <input type="text" formControlName="Fname" ng-model="Fname">
      <span *ngIf="!login.controls['Fname'].valid && (login.controls['Fname'].dirty || login.controls['Fname'].touched)">characters only</span>
    </label><br/><br/>
    <label>Last Name
      <input type="text" formControlName="Lname" id="Lname">
      <span *ngIf="!login.controls['Lname'].valid && (login.controls['Lname'].dirty || login.controls['Lname'].touched)">characters only</span>
    </label><br/><br/>
    <label>Contact
        <input type="text" formControlName="contact" maxlength="10" minlength="10">
        <span *ngIf="!login.controls['contact'].valid && (login.controls['contact'].dirty || login.controls['contact'].touched)">numbers only</span>
      </label><br/><br/>
    <label>
      Email
      <input type="text" formControlName="email">
      <span *ngIf="!login.controls['email'].valid && (login.controls['email'].dirty || login.controls['email'].touched)">write valid email</span>
    </label><br/><br/>
    <label>Password
        <input type="{{pass}}"  formControlName="password" minlength="8"><span (click)="showpass()" class="glyphicon glyphicon-eye-open"></span>
        <span *ngIf="!login.controls['password'].valid && (login.controls['password'].dirty || login.controls['password'].touched)">Password should be of 8 character slong minimum</span>
      </label><br/><br/>
      <label>Confirm Password
          <input type="{{pass1}}" formControlName="cnfpassword" minlength="8" (keyup)="check()"><span (click)="showpass1()" class="glyphicon glyphicon-eye-open"></span>
          <span *ngIf="!checkpass && (login.controls['cnfpassword'].dirty || login.controls['cnfpassword'].touched)">password does not match</span>
        </label><br/><br/>
        <label>employee id
          <input type="text" formControlName="eid" maxlength="4" minlength="4">
          <span *ngIf="!login.controls['eid'].valid && (login.controls['eid'].dirty || login.controls['eid'].touched)">numbers only</span>
        </label><br/><br/>
        <label>gender
          <input type="text" formControlName="gender">
          <span *ngIf="!login.controls['gender'].valid && (login.controls['gender'].dirty || login.controls['gender'].touched)">enter male or female only</span>
        </label><br/><br/>
        <input type="submit"  [disabled]="!login.valid">
        </form>
        
    </div>
  
  
